---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab, ugrad]
    width: 5
    image: true
  - roles: [ugrad-alum, alum]
    width: 7
    image: false

---

<div class="jumbotron">
    <p>
        <b>SAMPL</b> is an interdisciplinary machine learning research group exploring problems
        spanning multiple layers of the system stack including deep learning frameworks,
        specialized hardware for training and inference, new intermediate representations,
        differentiable programming, and various applications.
        We are part of the <a href="http://www.cs.washington.edu/">Paul G. Allen School of Computer Science & Engineering</a>
        at the <a href="http://www.washington.edu/">University of Washington</a>.
        Our group is a collboration between researchers from <a href="https://sampa.cs.washington.edu/">Sampa</a>,
        <a href=https://syslab.cs.washington.edu/>Syslab</a>, <a href="http://mode.cs.washington.edu/">MODE</a>,
and <a href="http://uwplse.org">PLSE</a>.
        <!-- We also collaborate outside of UW with industry partners,
        and other instituions. -->
    </p>
</div>

<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>

<section>
    <h2>Research</h2>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section>

<section>
    <h2>Mission</h2>
    Model, data, and computing to support learning are three pillars of machine learning. Advances in these three factors enabled breakthroughs in the past, and we believe will enable significant future advances as well. Specialized hardware architectures such as GPUs and TPU-like accelerators fuel the ever-growing computing demand for machine learning workloads.

      We need to address new challenges in scheduling, networking, storage and programming abstraction to build scalable systems that benefit from emerging hardware architectures and deal with ever-growing available data. Importantly, future models and learning algorithms need to be co-designed with the hardware, and system-level factors need to inform the design of hardware-software stack.  We need to build common, reusable infrastructure that works across hardware backends, and use learning to make smarter systems.

      These challenges and research questions span multiple areas of computer science. Hence, we formed <b>SAMPL</b> (System, Architecture, Machine learning, and Programming language), a joint research group to conduct this-cross stack research. We focus on system, hardware and learning model co-design and build novel architectures, programming abstractions, and learning systems to enable future intelligent systems. We strive to both build tools usable by the general community as well explore new directions in machine learning systems.
</section>

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
