---
layout: default
title: SAMPL Lunch Talks
---

SAMPL organizes group lunch on a weekly basis and we invite speakers from both academia and industry to present their work. The goal is to provide a platform for researchers to share their work and to foster collaborations. The talks are open to everyone in the community. If you are interested in giving a talk, please contact the organizers.

<h1 id="organizers">Organizers</h1>
<ul>
  <li><a href="https://homes.cs.washington.edu/~luisceze/">Luis Ceze</a></li>
  <li><a href="https://abcdabcd987.com/about/">Lequn Chen</a></li>
  <li><a href="https://homes.cs.washington.edu/~arvind/">Arvind Krishnamurthy</a></li>
  <li><a href="https://homes.cs.washington.edu/~cyulin/">Chien-Yu Lin</a></li>
  <li><a href="https://justg.us/">Gus Smith</a></li>
  <li><a href="https://homes.cs.washington.edu/~zhye">Zihao Ye</a></li>
</ul>

<h1 id="seminars">Related Seminars</h1>

Sometimes SAMPL talks are combined with other seminars, please check the following links for more information:
<ul>
  <li><a href="https://courses.cs.washington.edu/courses/cse590s/">CSE 590S Au 23 - Systems for Machine Learning</a></li>
  <li><a href="https://courses.cs.washington.edu/courses/cse599m/23sp/">CSE 599M Sp 23 - ML for ML Systems</a></li>
  <li><a href="https://uwplse.org/meet/">UW PLSE Seminar</a></li>
</ul> 

<h1 id="links">Links</h1>

<p>Join the following channels for updates and notifications:</p>

<ul>
  <li><a href="https://mailman.cs.washington.edu/mailman/listinfo/sampl"> SAMPL Mailing List (internal)</a></li>
  <li><a href="https://uw-cse.slack.com/archives/C9DE9ES9Z">SAMPL Slack Channel (internal)</a></li>
  <li><a href="https://calendar.google.com/calendar/embed?src=cs.washington.edu_ek1s98h0oj1b4b49m2t69f5peo%40group.calendar.google.com&amp;ctz=America%2FLos_Angeles">SAMPL Calendar</a></li>
  <li><a href="https://www.youtube.com/channel/UCYZ98EiUAI-KkBSyuml155Q">SAMPL Youtube Channel</a></li>
</ul>

<h1 id="schedule">Schedule</h1>

<ul>
<li>Time: Weekly on Friday, 11:30am - 12:30pm PST </li>
</ul>

<h2 id="upcoming">Upcoming Talks</h2>
{% for talk in site.data.talks %}
    {% if talk.calendar %}
    <div class="talk-entry">
        <div class="talk-entry-date">{{talk.date}}</div>
        <b>Location</b>: {{talk.location}}
        </br>
        <b>{{talk.title}}</b>
        </br>
        <b>Speaker</b>: <a href="{{talk.speaker[2]}}">{{talk.speaker[0]}}</a> ({{talk.speaker[1]}})
        </br>
        {% if talk.abstract %}
            <details>
                <summary><b>Abstract</b></summary>
                {{talk.abstract}}
            </details>
        {% endif %}
        {% if talk.bio %}
            <details>
                <summary><b>Speaker bio</b></summary>
                {{talk.bio}}
            </details>
        {% endif %}
        <b>Add to calendar</b>: {{talk.calendar}}
    </div>
    {% endif %}
{% endfor %}

<h2 id="past">Past Talks</h2>
{% for talk in site.data.talks %}
    {% if talk.calendar == nil %}
    <div class="talk-entry">
        <div class="talk-entry-date">{{talk.date}}</div>
        <b>{{talk.title}}</b>
        </br>
        <b>Speaker</b>: <a href="{{talk.speaker[2]}}">{{talk.speaker[0]}}</a> ({{talk.speaker[1]}})
        </br>
        {% if talk.abstract %}
            <details>
                <summary><b>Abstract</b></summary>
                {{talk.abstract}}
            </details>
        {% endif %}
        {% if talk.bio %}
            <details>
                <summary><b>Speaker bio</b></summary>
                {{talk.bio}}
            </details>
        {% endif %}
        {% if talk.recording %}
        <b>Recording</b>: <a href="{{talk.recording[0]}}">{{talk.recording[1]}}</a> </br>
        {% endif %}
        {% if talk.note %}
        <b>Note</b>: {{talk.note}} </br>
        {% endif %}
    </div>
    {% endif %}
{% endfor %}
