---
layout: default
title: SAMPL lunch Talks
---

<h1 id="links">Links</h1>

<p>Join the following channels for updates and notifications:</p>

<ul>
  <li><a href="https://mailman.cs.washington.edu/mailman/admin/sampl">SAMPL Mailing List (internal)</a></li>
  <li><a href="https://uw-cse.slack.com/archives/C9DE9ES9Z">SAMPL Slack Channel (internal)</a></li>
  <li><a href="https://calendar.google.com/calendar/embed?src=cs.washington.edu_ek1s98h0oj1b4b49m2t69f5peo%40group.calendar.google.com&amp;ctz=America%2FLos_Angeles">SAMPL Calendar</a></li>
  <li><a href="https://www.youtube.com/channel/UCYZ98EiUAI-KkBSyuml155Q">SAMPL Youtube Channel</a></li>
</ul>

<h1 id="schedule">Schedule</h1>

<h2 id="upcoming">Upcoming Talks</h2>
{% for talk in site.data.talks %}
    {% if talk.calendar %}
    <div class="talk-entry">
        <div class="talk-entry-date">{{talk.date}}</div>
        <b>Location</b>: {{talk.location}}
        </br>
        <b>{{talk.title}}</b>
        </br>
        <b>Speaker</b>: <a href="{{talk.speaker[2]}}">{{talk.speaker[0]}}</a> ({{talk.speaker[1]}})
        </br>
        {% if talk.abstract %}
            <details>
                <summary><b>Abstract</b></summary>
                {{talk.abstract}}
            </details>
        {% endif %}
        {% if talk.bio %}
            <details>
                <summary><b>Speaker bio</b></summary>
                {{talk.bio}}
            </details>
        {% endif %}
        <b>Add to calendar</b>: {{talk.calendar}}
    </div>
    {% endif %}
{% endfor %}

<h2 id="past">Past Talks</h2>
{% for talk in site.data.talks %}
    {% if talk.calendar == nil %}
    <div class="talk-entry">
        <div class="talk-entry-date">{{talk.date}}</div>
        <b>{{talk.title}}</b>
        </br>
        <b>Speaker</b>: <a href="{{talk.speaker[2]}}">{{talk.speaker[0]}}</a> ({{talk.speaker[1]}})
        </br>
        {% if talk.abstract %}
            <details>
                <summary><b>Abstract</b></summary>
                {{talk.abstract}}
            </details>
        {% endif %}
        {% if talk.bio %}
            <details>
                <summary><b>Speaker bio</b></summary>
                {{talk.bio}}
            </details>
        {% endif %}
        {% if talk.recording %}
        <b>Recording</b>: <a href="{{talk.recording[0]}}">{{talk.recording[1]}}</a>
        {% endif %}
    </div>
    {% endif %}
{% endfor %}
