<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/2002.03206.pdf">Exploring the Memorization-Generalization Continuum in Deep Learning</a>.
			</span><br />
			<span class="authors">
				Ziheng Jiang, Chiyuan Zhang, Kunal Talwar, and Michael C. Mozer.
			</span><br />
			<span class="venuetype"></span><span class="venue">ICML 2021</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/2105.09377.pdf">Pure, Low-Level Tensor Program Rewriting via Access Patterns (Representation Pearl)</a>.
			</span><br />
			<span class="authors">
				Gus Henry Smith, Andrew Liu, Steven Lyubomirsky, Scott Davidson, Joseph McMahan, Michael B. Taylor, Luis Ceze, and Zachary Tatlock.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 5th ACM SIGPLAN International Workshop on Machine Learning and Programming Languages (MAPL 2021)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/2101.07841.pdf">Porcupine: A Synthesizing Compiler for Vectorized Homomorphic Encryption</a>.
			</span><br />
			<span class="authors">
				Meghan Cowan, Deeksha Dangwal, Armin Alaghi, Caroline Trippel, Vincent T. Lee, and Brandon Reagen.
			</span><br />
			<span class="venuetype"></span><span class="venue">PLDI 2021</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://homes.cs.washington.edu/~vegaluis/pubs/pldi21_vega_reticle.pdf">Reticle: A Virtual Machine for Programming Modern FPGAs</a>.
			</span><br />
			<span class="authors">
				Luis Vega, Joseph McMahan, Adrian Sampson, Dan Grossman, and Luis Ceze.
			</span><br />
			<span class="venuetype"></span><span class="venue">PLDI 2021</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				May
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://openreview.net/pdf?id=Vfs_2RnOD0H">Dynamic Tensor Rematerialization</a>.
			</span><br />
			<span class="authors">
				Marisa Kirisame, Steven Lyubomirsky, Altan Haan, Jennifer Brennan, Mike He, Jared Roesch, Tianqi Chen, and Zachary Tatlock.
			</span><br />
			<span class="venuetype"></span><span class="venue">ICLR 2021</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/2104.10716.pdf">Accelerating SpMM Kernel with Cache-First Edge Sampling for Graph Neural Networks</a>.
			</span><br />
			<span class="authors">
				Chien-Yu Lin, Liang Luo, and Luis Ceze.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv preprint</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://proceedings.mlsys.org/paper/2021/file/4e732ced3463d06de0ca9a15b6153677-Paper.pdf">Nimble: Efficiently Compiling Dynamic Neural Networks for Model Inference</a>.
			</span><br />
			<span class="authors">
				Haichen Shen, Jared Roesch, Zhi Chen, Wei Chen, Yong Wu, Mu Li, Vin Sharma, Zachary Tatlock, and Yida Wang.
			</span><br />
			<span class="venuetype"></span><span class="venue">MLSys 2021</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/2103.14949.pdf">Automated Backend-Aware Post-Training Quantization</a>.
			</span><br />
			<span class="authors">
				Ziheng Jiang, Animesh Jain, Andrew Liu, Josh Fromm, Chengqian Ma, Tianqi Chen, and Luis Ceze.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv preprint</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/2011.14243.pdf">Srift: Swift and Thrift Cloud-Based Distributed Training</a>.
			</span><br />
			<span class="authors">
				Liang Luo, Peter West, Arvind Krishnamurthy, and Luis Ceze.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv preprint</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				May
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://homes.cs.washington.edu/~vegaluis/pubs/ieeemicro20_vega_lastlayer.pdf">LastLayer: Toward Hardware and Software Continuous Integration</a>.
			</span><br />
			<span class="authors">
				Luis Vega, Jared Roesch, Joseph McMahan, and Luis Ceze.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Micro</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://proceedings.mlsys.org/paper/2020/file/182be0c5cdcd5072bb1864cdee4d3d6e-Paper.pdf">PLink: Discovering and Exploiting Locality for Accelerated Distributed Training on the public Cloud</a>.
			</span><br />
			<span class="authors">
				Liang Luo, Peter West, Jacob Nelson, Arvind Krishnamurthy, and Luis Ceze.
			</span><br />
			<span class="venuetype"></span><span class="venue">MLSys 2020</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				March
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://proceedings.mlsys.org/paper/2020/file/2a79ea27c279e471f4d180b08d62b00a-Paper.pdf">Riptide: Fast End-to-End Binarized Neural Networks</a>.
			</span><br />
			<span class="authors">
				Josh Fromm, Meghan Cowan, Matthai Philipose, Luis Ceze, and Shwetak Patel.
			</span><br />
			<span class="venuetype"></span><span class="venue">MLSys 2020</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://dl.acm.org/doi/pdf/10.1145/3368826.3377912">Automatic Generation of High-Performance Quantized Machine Learning Kernels</a>.
			</span><br />
			<span class="authors">
				Meghan Cowan, Thierry Moreau, Tianqi Chen, James Bornholt, and Luis Ceze.
			</span><br />
			<span class="venuetype"></span><span class="venue">CGO 2020</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1807.04188.pdf">A Hardware-Software Blueprint for Deep Learning Specialization</a>.
			</span><br />
			<span class="authors">
				Thierry Moreau, Tianqi Chen, Luis Vega, Jared Roesch, Eddie Yan, Lianmin Zheng, Josh Fromm, Ziheng Jiang, Luis Ceze, Carlos Guestrin, and Arvind Krishnamurthy.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv preprint</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1904.08368.pdf">Relay: A High-Level IR for Deep Learning</a>.
			</span><br />
			<span class="authors">
				Jared Roesch, Steven Lyubomirsky, Marisa Kirisame, Josh Pollock, Logan Weber, Ziheng Jiang, Tianqi Chen, Thierry Moreau, and Zachary Tatlock.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv preprint</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1805.08166.pdf">Learning to Optimize Tensor Programs</a>.
			</span><br />
			<span class="authors">
				Tianqi Chen, Lianmin Zheng, Eddie Yan, Ziheng Jiang, Thierry Moreau, Luis Ceze, Carlos Guestrin, and Arvind Krishnamurthy.
			</span><br />
			<span class="venuetype"></span><span class="venue">NeurIPS 2018</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1810.11066.pdf">Automating Generation of Low Precision Deep Learning Operators</a>.
			</span><br />
			<span class="authors">
				Meghan Cowan, Thierry Moreau, Tianqi Chen, and Luis Ceze.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv preprint</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1802.04799.pdf">TVM: An Automated End-to-End Optimizing Compiler for Deep Learning</a>.
			</span><br />
			<span class="authors">
				Tianqi Chen, Thierry Moreau, Ziheng Jiang, Lianmin Zheng, Eddie Yan, Meghan Cowan, Haichen Shen, Leyuan Wang, Yuwei Hu, Luis Ceze, Carlos Guestrin, and Arvind Krishnamurthy.
			</span><br />
			<span class="venuetype"></span><span class="venue">OSDI 2018</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.microsoft.com/en-us/research/publication/parameter-hub-a-rack-scale-parameter-server-for-distributed-deep-neural-network-training/">Parameter Hub: a Rack-Scale Parameter Server for Distributed Deep Neural Network Training</a>.
			</span><br />
			<span class="authors">
				Liang Luo, Jacob Nelson, Luis Ceze, Amar Phanishayee, and Arvind Krishnamurthy.
			</span><br />
			<span class="venuetype"></span><span class="venue">SOCC 2018</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/3211346.3211348">Relay: A New IR for Machine Learning Frameworks</a>.
			</span><br />
			<span class="authors">
				Jared Roesch, Steven Lyubomirsky, Logan Weber, Josh Pollock, Marisa Kirisame, Tianqi Chen, and Zachary Tatlock.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 2Nd ACM SIGPLAN International Workshop on Machine Learning and Programming Languages (MAPL 2018)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=8341970">MATIC: Learning Around Errors for Efficient Low-Voltage Neural Network Accelerators</a>.
			</span><br />
			<span class="authors">
				Sung Kim, Patrick Howe, Thierry Moreau, Armin Alaghi, Luis Ceze, and Visvesh Sathe.
			</span><br />
			<span class="venuetype"></span><span class="venue">DATE 2018</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://mlsys.org/Conferences/doc/2018/16.pdf">Parameter Box: High Performance Parameter Servers for Efficient Distributed Deep Neural Network Training</a>.
			</span><br />
			<span class="authors">
				Liang Luo, Jacob Nelson, Luis Ceze, Amar Phanishayee, and Arvind Krishnamurthy.
			</span><br />
			<span class="venuetype"></span><span class="venue">SysML 2018</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://homes.cs.washington.edu/~haichen/papers/specialization.pdf">Fast Video Classification via Adaptive Cascading of Deep Models</a>.
			</span><br />
			<span class="authors">
				Haichen Shen, Seungyeop Han, Matthai Philipose, and Arvind Krishnamurthy.
			</span><br />
			<span class="venuetype"></span><span class="venue">CVPR 2017</span>.
			<span class="note">
			Spotlight.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1603.02754.pdf">XGBoost: A Scalable Tree Boosting System</a>.
			</span><br />
			<span class="authors">
				Tianqi Chen and Carlos Guestrin.
			</span><br />
			<span class="venuetype"></span><span class="venue">KDD 2016</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://dl.acm.org/citation.cfm?id=2906396">MCDNN: An Approximation-Based Execution Framework for Deep Stream Processing Under Resource Constraints</a>.
			</span><br />
			<span class="authors">
				Seungyeop Han, Haichen Shen, Matthai Philipose, Sharad Agarwal, Alec Wolman, and Arvind Krishnamurthy.
			</span><br />
			<span class="venuetype"></span><span class="venue">MobiSys 2016</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1512.01274.pdf">MXNet: A Flexible and Efficient Machine Learning Library for Heterogeneous Distributed Systems</a>.
			</span><br />
			<span class="authors">
				Tianqi Chen, Mu Li, Yutian Li, Min Lin, Naiyan Wang, Minjie Wang, Tianjun Xiao, Bing Xu, Chiyuan Zhang, and Zheng Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">LearningSys Workshop at Neural Information Processing Systems 2015</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://ieeexplore.ieee.org/abstract/document/7056066/">SNNAP: Approximate Computing on Programmable SoCs via Neural Acceleration</a>.
			</span><br />
			<span class="authors">
				Thierry Moreau, Mark Wyse, Jacob Nelson, Adrian Sampson, Hadi Esmaeilzadeh, Luis Ceze, and Mark Oskin.
			</span><br />
			<span class="venuetype"></span><span class="venue">HPCA 2015</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
