<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/1807.04188v3">A Hardware-Software Blueprint for Deep Learning Specialization</a>.
			</span><br />
			<span class="authors">
				Thierry Moreau, Tianqi Chen, Luis Vega, Jared Roesch, Eddie Yan, Lianmin Zheng, Josh Fromm, Ziheng Jiang, Luis Ceze, Carlos Guestrin, and Arvind Krishnamurthy.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv preprint</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/1904.08368v1">Relay: A High-Level IR for Deep Learning</a>.
			</span><br />
			<span class="authors">
				Jared Roesch, Steven Lyubomirsky, Marisa Kirisame, Josh Pollock, Logan Weber, Ziheng Jiang, Tianqi Chen, Thierry Moreau, and Zachary Tatlock.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv preprint</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/1805.08166">Learning to Optimize Tensor Programs</a>.
			</span><br />
			<span class="authors">
				Tianqi Chen, Lianmin Zheng, Eddie Yan, Ziheng Jiang, Thierry Moreau, Luis Ceze, Carlos Guestrin, and Arvind Krishnamurthy.
			</span><br />
			<span class="venuetype"></span><span class="venue">Neural Information Processing Systems</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				November
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/1810.11066v1">Automating Generation of Low Precision Deep Learning Operators</a>.
			</span><br />
			<span class="authors">
				Meghan Cowan, Thierry Moreau, Tianqi Chen, and Luis Ceze.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv preprint</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				October
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.microsoft.com/en-us/research/publication/parameter-hub-a-rack-scale-parameter-server-for-distributed-deep-neural-network-training/">Parameter Hub: a Rack-Scale Parameter Server for Distributed Deep Neural Network Training</a>.
			</span><br />
			<span class="authors">
				Liang Luo, Jacob Nelson, Luis Ceze, Amar Phanishayee, and Arvind Krishnamurthy.
			</span><br />
			<span class="venuetype"></span><span class="venue">SOCC 2018</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://doi.acm.org/10.1145/3211346.3211348">Relay: A New IR for Machine Learning Frameworks</a>.
			</span><br />
			<span class="authors">
				Jared Roesch, Steven Lyubomirsky, Logan Weber, Josh Pollock, Marisa Kirisame, Tianqi Chen, and Zachary Tatlock.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 2Nd ACM SIGPLAN International Workshop on Machine Learning and Programming Languages (MAPL 2018)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				April
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/1802.04799">TVM: An Automated End-to-End Optimizing Compiler for Deep Learning</a>.
			</span><br />
			<span class="authors">
				Tianqi Chen, Thierry Moreau, Ziheng Jiang, Lianmin Zheng, Eddie Yan, Meghan Cowan, Haichen Shen, Leyuan Wang, Yuwei Hu, Luis Ceze, Carlos Guestrin, and Arvind Krishnamurthy.
			</span><br />
			<span class="venuetype"></span><span class="venue">OSDI 2018(to appear)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=8341970">MATIC: Learning Around Errors for Efficient Low-Voltage Neural Network Accelerators</a>.
			</span><br />
			<span class="authors">
				Sung Kim, Patrick Howe, Thierry Moreau, Armin Alaghi, Luis Ceze, and Visvesh Sathe.
			</span><br />
			<span class="venuetype"></span><span class="venue">DATE 2018</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://www.sysml.cc/doc/16.pdf">Parameter Hub: High Performance Parameter Servers for Efficient Distributed Deep Neural Network Training</a>.
			</span><br />
			<span class="authors">
				Liang Luo, Jacob Nelson, Luis Ceze, Amar Phanishayee, and Arvind Krishnamurthy.
			</span><br />
			<span class="venuetype"></span><span class="venue">SysML 2018</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				July
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://homes.cs.washington.edu/~haichen/papers/specialization.pdf">Fast Video Classification via Adaptive Cascading of Deep Models</a>.
			</span><br />
			<span class="authors">
				Haichen Shen, Seungyeop Han, Matthai Philipose, and Arvind Krishnamurthy.
			</span><br />
			<span class="venuetype"></span><span class="venue">CVPR 2017</span>.
			<span class="note">
			Spotlight.
			</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				August
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/1603.02754">XGBoost: A Scalable Tree Boosting System</a>.
			</span><br />
			<span class="authors">
				Tianqi Chen and Carlos Guestrin.
			</span><br />
			<span class="venuetype"></span><span class="venue">KDD 2016</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				June
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://dl.acm.org/citation.cfm?id=2906396">MCDNN: An Approximation-Based Execution Framework for Deep Stream Processing Under Resource Constraints</a>.
			</span><br />
			<span class="authors">
				Seungyeop Han, Haichen Shen, Matthai Philipose, Sharad Agarwal, Alec Wolman, and Arvind Krishnamurthy.
			</span><br />
			<span class="venuetype"></span><span class="venue">MobiSys 2016</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				December
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://arxiv.org/abs/1512.01274">MXNet: A Flexible and Efficient Machine Learning Library for Heterogeneous Distributed Systems</a>.
			</span><br />
			<span class="authors">
				Tianqi Chen, Mu Li, Yutian Li, Min Lin, Naiyan Wang, Minjie Wang, Tianjun Xiao, Bing Xu, Chiyuan Zhang, and Zheng Zhang.
			</span><br />
			<span class="venuetype"></span><span class="venue">LearningSys Workshop at Neural Information Processing Systems 2015</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				February
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="http://ieeexplore.ieee.org/abstract/document/7056066/">SNNAP: Approximate Computing on Programmable SoCs via Neural Acceleration</a>.
			</span><br />
			<span class="authors">
				Thierry Moreau, Mark Wyse, Jacob Nelson, Adrian Sampson, Hadi Esmaeilzadeh, Luis Ceze, and Mark Oskin.
			</span><br />
			<span class="venuetype"></span><span class="venue">HPCA 2015</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
